.nav-game {
    background: #eee;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.nav-game > * {
    padding: 20px;
    height: 100%;
    width: auto;
}

.nav-game .buttons {
    display: flex;
}

.nav-game span {
    display: block;
    margin: auto 10px;
    cursor: pointer;
}

.nav-game span > i {
    color: #000;
}

.nav-game a > i {
    color: #000;
}